fastapi
uvicorn
python-dotenv
python-multipart
sqlalchemy
psycopg2-binary
pgvector
langchain
langchain-aws
boto3
langchain-google-genai
google-generativeai
langchain-postgres
langchain-community
langchain-text-splitters
openai
pyjwt
passlib[bcrypt]
edge-tts
pydantic
pydantic-settings
pypdf
python-docx
fpdf
python-pptx
